<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreelanceAccounting"
        tools:targetApi="31">
        <activity
            android:name=".View.addBusiness"
            android:exported="true"
            android:parentActivityName=".View.homeBusiness"/>
        <activity
            android:name=".View.addCharge"
            android:exported="true"
            android:parentActivityName=".View.homeCharge"/>
        <activity
            android:name=".View.addClient"
            android:exported="true"
            android:parentActivityName=".View.homeClient"/>
        <activity
            android:name=".View.addCurrency"
            android:exported="true"
            android:parentActivityName=".View.homeCurrency"/>
        <activity
            android:name=".View.addService"
            android:exported="true"
            android:parentActivityName=".View.homeService"/>
        <activity
            android:name=".View.homeBank"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeBusiness"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeCharge"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeClient"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeCurrency"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeService"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeSettings"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeUser"
            android:exported="true"
            android:parentActivityName=".View.homeMenu"/>
        <activity
            android:name=".View.homeMenu"
            android:exported="true" />
        <activity
            android:name=".View.newDatabase"
            android:exported="true" />
        <activity
            android:name=".View.newBusiness"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>